@font-face {
  font-family: 'Bahnschrift';
  src: url('../public/fonts/ASJHEV-Bahnschrift.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasNeueLight';
  src: url('../public/fonts/AUTIJG-BebasNeue-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Corvetta';
  src: url('../public/fonts/AYFDYM-Corvetta.ttf') format('truetype');
}
@font-face {
  font-family: 'OzHandicraftBT';
  src: url('../public/fonts/BACEVI-OzHandicraftBT-Roman.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasNeueRegular'; /* tel, nav*/
  src: url('../public/fonts/BEYLAF-BebasNeueRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'SourceCodeVariable';
  src: url('../public/fonts/DRVTLM-SourceCodeVariable-Roman.ttf') format('truetype');
}
@font-face {
  font-family: 'MyriadPro';
  src: url('../public/fonts/FPVANI-MyriadPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SourceSansVariable';
  src: url('../public/fonts/JVTYRA-SourceSansVariable-Roman.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasNeuelite';
  src: url('../public/fonts/Bebas-Neue-lite.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasNeueBook';
  src: url('../public/fonts/Bebas-Neue-book.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

:root {
  --pink: rgb(208, 9, 128);
  --darkPink: rgb(213, 8, 127);
  --litePink: rgb(233, 125, 177);
  --white: #fff;
  --darkBlue: rgb(55,131,161);
  --index: calc(1vw + 1vh);
}
.podlogka {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.3;
}
.podlogka img {
  width: 100vw;
}
.header__line {
  /* height: 16px; */
  height: calc(var(--index) * 0.6);
  background: linear-gradient(to right, rgb(0, 151, 159), rgb(128, 188, 206));
}
.header__box {
  display: flex;
  /* height: 120px; */
  height: calc(var(--index) * 5.1);

  background-color: var(--pink);
}
.header__logo1 img {
  width: calc(var(--index) * 4);
  height: calc(var(--index) * 2.6);
  padding-top: calc(var(--index) * 1.5);
  padding-left: calc(var(--index) * 1.5);
}
.header__logo2 img {
  width: calc(var(--index) * 9.8);
  height: calc(var(--index) * 3);
  padding-top: calc(var(--index) * 1.4);
  padding-left: calc(var(--index) * 1.5);
}
.header__logo3 img {
  width: calc(var(--index) * 5.7);
  height: calc(var(--index) * 2.3);
  padding-top: calc(var(--index) * 1.2);
  padding-left: calc(var(--index) * 1.5);
}
.header__social {
  display: flex;
  /* background-color: red; */
  margin-left: calc(var(--index) * 6.6);
  height: calc(var(--index) * 2.9);
}
.social__whatsapp {
  margin-top: calc(var(--index) * 1.7);
}
.whatsapp {
  width: calc(var(--index) * 1.4);
}
.social__whatsapp:hover,
.social__telegram:hover,
.social__instagram:hover,
.social__vk:hover,
.header__nav li:hover {
  scale: 1.2;
  transition: scale 0.2s ease-in;
  cursor: pointer;
}
.telegram {
  width: calc(var(--index) * 1.8);
  margin-top: calc(var(--index) * 1.4);
}
.social__vk {
  width: calc(var(--index) * 0.8);
  height: calc(var(--index) * 0.8);
  margin-top: calc(var(--index) * 1.57);
  margin-left: calc(var(--index) * 0.2);
}
.vk {
  width: calc(var(--index) * 1.4);
}
.social__instagram {
  width: calc(var(--index) * 0.8);
  height: calc(var(--index) * 0.8);
  margin-left: calc(var(--index) * 1.1);
  margin-top: calc(var(--index) * 1.67);
}
.instagram {
  width: calc(var(--index) * 1.2);
}
.header__tel a {
  text-decoration: none;
  color: var(--white);
  font-family: 'BebasNeueRegular';
  margin-left: calc(var(--index) * 7.2);
  font-size: calc(var(--index) * 1);
}
.header__nav {
  padding-left: calc(var(--index) * 3.3);
  padding-top: calc(var(--index) * 0.9);
}
.header__nav ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-family: 'BebasNeueRegular';
  font-size: calc(var(--index) * 0.9);
  color: var(--white);
  padding-top: calc(var(--index) * 1.1);
}
.header__nav li {
  padding-right: calc(var(--index) * 2.8);
}
.header__nav li:nth-child(3) {
  padding-right: calc(var(--index) * 1.3);
}
.header__nav li:last-child {
  border: 1px solid var(--white);
  padding: calc(var(--index) * 0.5) calc(var(--index) * 1);
  border-radius: 8px;
  margin-top: calc(var(--index) * -0.5);
}
.header__nav li:last-child:hover {
  color: var(--pink);
  background-color: var(--white);
  box-shadow: 0px 0px 20px #ffffff;
}
/* home */
.home img {
  width: 100%;
  padding-top: 5px;
}
/* vedalife */
.vedalife {
  padding-top: calc(var(--index) * 3);
  display: flex;
  column-gap: calc(var(--index) * 3);
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}
.vedalife__img img {
  width: calc(var(--index) * 24);
  border-radius: 50%;
}
.vedalife__content {
  max-width: 600px;
}
.vedalife__content p {
  padding-bottom: calc(var(--index) * 1);
}
.vedalife__title {
  color: var(--pink);
  text-transform: uppercase;
  font-family: 'BebasNeueRegular';
  font-size: 27px;
  letter-spacing: 3px;
  padding-top: calc(var(--index) * 2.3);
  padding-bottom: calc(var(--index) * 1);
}
.vedalife__text {
  font-size: 18px;
  line-height: 1.5;
}
.vedalife__subtitle {
  font-size: calc(var(--index) * 1.7);
  font-family: 'OzHandicraftBT';
  letter-spacing: 4px;
  text-align: center;
  padding-top: calc(var(--index) * 1.3);
}
/* new year */
.newYear {
  background-color: var(--litePink);
  display: flex;
  align-items: center;
  margin-top: calc(var(--index) * 2.8);
  justify-content: right;
}
.newYear__date h3 {
  color: var(--white);
  font-size: calc(var(--index) * 7.3);
  font-family: 'BebasNeueBook';
  /* align-items:center; */
  margin-left: calc(var(--index) * 1.6);
  margin-top: calc(var(--index) * -1.5);
}
.newYear__month {
  display: flex;
  position: relative;
}
.newYear__date-dec {
  color: var(--white);
  background-color: var(--darkPink);
  border-radius: calc(var(--index) * 0.8);
  font-size: calc(var(--index) * 1.5);
  font-weight: 500;
  padding: calc(var(--index) * 0.01) calc(var(--index) * 0.9) calc(var(--index) * 0.15)
    calc(var(--index) * 1.4);
  border: none;
  z-index: 9;
}
.newYear__date-jun {
  position: absolute;
  left: calc(var(--index) * 6.5);
  color: var(--pink);
  background-color: var(--white);
  border-radius: calc(var(--index) * 0.8);
  font-size: calc(var(--index) * 1.5);
  font-weight: 500;
  padding: calc(var(--index) * 0.01) calc(var(--index) * 0.9) calc(var(--index) * 0.15)
    calc(var(--index) * 2.2);
  border: none;
}
.newYear__snowflake img {
  width: calc(var(--index) * 8);
  height: calc(var(--index) * 8);
  margin-left: calc(var(--index) * 2);
}
.newYear__title h3 {
  font-size: calc(var(--index) * 5);
  font-family: 'BebasNeueBook';
  text-align: center;
  margin: 0;
  color: var(--darkPink);
}
.newYear__year img {
  width: calc(var(--index) * 12);
  padding-left: calc(var(--index) * 5);
  padding-right: calc(var(--index) * 1);
}
/* festival */
.festival {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: calc(var(--index) * 6);
  padding-bottom: calc(var(--index) * 6);
}
.festival__content {
  width: calc(var(--index) * 25);
  align-items: center;
  margin: auto 0;
  margin-right: calc(var(--index) * 3);
}
.festival__title {
  font-size: calc(var(--index) * 1);
  font-family: 'BebasNeueBook';
  padding-bottom: calc(var(--index) * 1);
  color: var(--pink);
}
.festival__text {
  font-size: 18px;
}
.festival__text p {
  padding-bottom: calc(var(--index) * 1);
  line-height: 1.5;
}
.festival__img img {
  border-radius: 50%;
  width: calc(var(--index) * 23);
}
.festival__snowflake1 {
  position: absolute;
  bottom: calc(var(--index) * 1);
  left: calc(var(--index) * -1.5);
  width: calc(var(--index) * 15);
  z-index: -1;
  opacity: 0.5;
}
.festival__snowflake2 {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  width: calc(var(--index) * 20);
  top: calc(var(--index) * 1);
}
.festival__btn {
  position: absolute;
  bottom: calc(var(--index) * 7.7);
  right: calc(var(--index) * -5);
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 2);
  border: none;
  background-color: var(--darkPink);
  border-radius: 28px;
}
/* mandarin */
.mandarin__img {
  width: 100%;
}
/* programmFestival */
.programmFestival {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: calc(var(--index) * 4);
  padding-bottom: calc(var(--index) * 6);
}
.programmFestival__content {
  width: calc(var(--index) * 25);
  align-items: center;
  margin: auto 0;
}
.programmFestival__title {
  font-size: calc(var(--index) * 1);
  font-family: 'BebasNeueBook';
  padding-bottom: calc(var(--index) * 1);
  color: var(--pink);
  text-transform: uppercase;
}
.programmFestival__text {
  font-size: 18px;
}
.programmFestival__text p,
.programmFestival__text ul {
  padding-bottom: calc(var(--index) * 1);
  line-height: 1.5;
}
.programmFestival__img img {
  border-radius: 50%;
  width: calc(var(--index) * 23);
  margin-right: calc(var(--index) * 3);
}
.programmFestival__snowflake1 {
  position: absolute;
  top: calc(var(--index) * 10);
  right: calc(var(--index) * -1);
  width: calc(var(--index) * 19);
  z-index: -1;
  opacity: 0.5;
}
.programmFestival__btn {
  position: absolute;
  bottom: calc(var(--index) * 6);
  left: calc(var(--index) * -1.5);
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 2);
  border: none;
  background-color: var(--darkBlue);
  border-radius: 28px;
}
/* table */
.table {
  margin-top: calc(var(--index) * -4.8);
  padding: calc(var(--index) * 1);
}
.table__img {
  display: flex;
  margin: 0 auto;
  width: 95%;
  box-shadow: calc(var(--index) * .5) calc(var(--index) * .5) calc(var(--index) * 1) #666;
}
/* description */
.description {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: calc(var(--index) * 6);
  padding-bottom: calc(var(--index) * 6);
}
.description__box {
  display: flex;
}
.description__content {
  width: calc(var(--index) * 25);
  align-items: center;
  margin: auto 0;
}
.description__title {
  font-size: calc(var(--index) * 1);
  font-family: 'BebasNeueBook';
  padding-bottom: calc(var(--index) * 1);
  color: var(--pink);
  text-transform: uppercase;
}
.description__text {
  font-size: 18px;
}
.programmFestival__text p,
.programmFestival__text ul {
  padding-bottom: calc(var(--index) * 1);
  line-height: 1.5;
}
.description__img img {
  border-radius: 50%;
  width: calc(var(--index) * 10.5);
  margin-right: calc(var(--index) * 5);
}
.description__snowflake1 {
  position: absolute;
  top: calc(var(--index) * .1);
  right: calc(var(--index) * 2.5);
  width: calc(var(--index) * 19);
  z-index: -1;
  opacity: 0.5;
}
.description__btn {
  position: absolute;
  top: calc(var(--index) * 3.6);
  right: calc(var(--index) * -3);
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 2);
  border: none;
  background-color: var(--darkPink);
  border-radius: 28px;
}
/* box2 */
.box2 {
  display: flex;
  flex-direction: row-reverse;
}
.description__img-revers {
  margin-left: calc(var(--index) * 5);
  margin-right: 0;
}
.description__snowflake2 {
  position: absolute;
  top: calc(var(--index) * 7.5);
  right: calc(var(--index) * 5.5);
  width: calc(var(--index) * 8);
  z-index: -1;
  opacity: 0.5;
}

