@font-face {
  font-family: 'BebasNeueRegular'; /* tel, nav*/
  src: url('../public/fonts/BEYLAF-BebasNeueRegular.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'BebasNeuelite';
  src: url('../public/fonts/Bebas-Neue-lite.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'BebasNeueBook';
  src: url('../public/fonts/Bebas-Neue-book.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'Corvetta';
  src: url('../public/fonts/Corvetta.ttf') format('truetype');
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
#root {
  width: 100vw;
}
body {
  overflow-x: hidden;
}
:root {
  --pink: rgb(208, 9, 128);
  --darkPink: rgb(213, 8, 127);
  --litePink: rgb(233, 125, 177);
  --white: #fff;
  --darkBlue: rgb(55, 131, 161);
  --liteBlue: rgb(128, 188, 206);
  --index: calc(1vw + 1vh);
}
.header {
  position: fixed;
  width: 100vw;
  z-index: 99;
}
.header__line {
  /* height: 16px; */
  height: calc(var(--index) * 0.6);
  background: linear-gradient(to right, rgb(0, 151, 159), rgb(128, 188, 206));
}
.header__box {
  display: flex;
  /* height: 120px; */
  height: calc(var(--index) * 5.1);

  background-color: var(--pink);
}
.header__logo1 img {
  width: calc(var(--index) * 4);
  height: calc(var(--index) * 2.6);
  padding-top: calc(var(--index) * 1.5);
  padding-left: calc(var(--index) * 1.5);
}
.header__logo2 img {
  width: calc(var(--index) * 9.8);
  height: calc(var(--index) * 3);
  padding-top: calc(var(--index) * 1.4);
  padding-left: calc(var(--index) * 1.5);
}
.header__logo3 img {
  width: calc(var(--index) * 5.7);
  height: calc(var(--index) * 2.3);
  padding-top: calc(var(--index) * 1.2);
  padding-left: calc(var(--index) * 1.5);
}
.social__whatsapp:hover,
.social__telegram:hover,
.social__instagram:hover,
.social__vk:hover,
.header__nav li:hover {
  scale: 1.2;
  transition: scale 0.2s ease-in;
  cursor: pointer;
}
.header__social-box {
  /* background-color: blue; */
  margin: auto;
  text-align: center;
}
.header__social {
  display: flex;
}
.header__social img {
  width: calc(var(--index) * 1.2);
  margin-left: calc(var(--index) * 0.5);
}
.header__tel a {
  text-decoration: none;
  color: var(--white);
  font-family: 'BebasNeueRegular';
  /* margin-left: calc(var(--index) * 3); */
  font-size: calc(var(--index) * 1);
}
.header__nav {
  margin: auto;
}
.header__nav ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-family: 'BebasNeueRegular';
  font-size: calc(var(--index) * 0.9);
  color: var(--white);
}
.header__nav li {
  padding-right: calc(var(--index) * 2);
}
.header__nav li:nth-child(3) {
  padding-right: calc(var(--index) * 1.3);
}
.header__nav li a {
  text-decoration: none;
  color: var(--white);
}
.registraition__button {
  border: 1px solid var(--white);
  padding: calc(var(--index) * 0.5) calc(var(--index) * 1);
  border-radius: 8px;
  margin-top: calc(var(--index) * -0.5);
  text-decoration: none;
  color: var(--white);
}
.registraition__button:hover {
  color: var(--pink);
  background-color: var(--white);
  box-shadow: 0px 0px 20px #ffffff;
}
/* home */
.home {
  position: relative;
  padding-top: calc(var(--index) * 5.1);
  display: flex;
}
.home__img {
  width: calc(var(--index) * 30);
  display: flex;
  border-radius: 0 calc(var(--index) * 10) calc(var(--index) * 10) 0;
  margin-left: calc(var(--index) * -3);
  margin-bottom: calc(var(--index) * 3);
}
.home__content {
  position: absolute;
  right: 0;
  top: calc(var(--index) * 5);
  margin-left: auto;
  /* background-color: blue; */
}
.newYear__month-img {
  width: calc(var(--index) * 10);
}
.home__box {
  display: flex;
  /* margin: auto; */
  /* background-color: blue; */
  z-index: 4;
}
.home__button-box {
  position: relative;
}
.home__button-festival {
  color: var(--white);
  background-color: var(--darkBlue);
  text-transform: uppercase;
  font-family: 'BebasNeueRegular';
  font-size: calc(var(--index) * 2);
  letter-spacing: 2px;
  border-radius: calc(var(--index) * 10) 0 0 calc(var(--index) * 10);
  width: max-content;
  padding: calc(var(--index) * 0.5) calc(var(--index) * 5);
  box-shadow: -5px 5px 15px #666;
}
.home__button-ashram {
  position: absolute;
  right: 0;
  bottom: calc(var(--index) * -2);
  color: var(--white);
  background-color: var(--pink);
  border-radius: calc(var(--index) * 10) 0 0 calc(var(--index) * 10);
  width: max-content;
  padding: calc(var(--index) * 0.5) calc(var(--index) * 2);
  font-family: 'BebasNeueBook';
  font-size: calc(var(--index) * 1.2);
  letter-spacing: 1px;
  box-shadow: -5px 5px 15px #666;
  margin-left: auto;
}
.home__date h3 {
  color: var(--darkPink);
  font-size: calc(var(--index) * 7.3);
  font-family: 'BebasNeueBook';
  margin-left: calc(var(--index) * 1.6);
  margin-top: calc(var(--index) * -1.5);
  padding-top: calc(var(--index) * 1);
  z-index: 3;
}
.home__date-jun {
  position: absolute;
  left: calc(var(--index) * 6.5);
  color: var(--white);
  background-color: var(--litePink);
  border-radius: calc(var(--index) * 0.8);
  font-size: calc(var(--index) * 1.5);
  font-weight: 500;
  padding: calc(var(--index) * 0.01) calc(var(--index) * 0.9) calc(var(--index) * 0.15)
    calc(var(--index) * 2.2);
  border: none;
}
.home__button-present {
  color: var(--white);
  background-color: var(--darkBlue);
  border-radius: 0 calc(var(--index) * 2) calc(var(--index) * 2) 0;
  padding: calc(var(--index) * 0.5) calc(var(--index) * 0.8);
  width: max-content;
  box-shadow: 5px 5px 15px #666;
  z-index: 4;
  display: flex;
  font-family: 'BebasNeueBook';
  position: absolute;
  bottom: calc(var(--index) * 1.5);
}
.home__button-present span {
  color: var(--pink);
  padding: 0 10px;
}
.home__sochi {
  color: var(--liteBlue);
  opacity: 0.5;
  text-transform: uppercase;
  font-family: 'BebasNeueBook';
  font-size: calc(var(--index) * 4);
  letter-spacing: 3px;
  text-align: right;
  padding-right: calc(var(--index) * 1.5);
}
.home__img-treeth {
  width: 100vw;
  position: absolute;
  bottom: calc(var(--index) * 0);
}
.home__img-snowflake {
  position: absolute;
  top: calc(var(--index) * 5);
  left: calc(var(--index) * 35);
  opacity: 0.2;
  z-index: 1;
  width: calc(var(--index) * 25);
}

/* vedalife */
.vedalife {
  padding-top: calc(var(--index) * 3);
  display: flex;
  column-gap: calc(var(--index) * 3);
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}
.vedalife__img img {
  width: calc(var(--index) * 24);
  border-radius: 50%;
}
.vedalife__content {
  max-width: 600px;
}
.vedalife__content p {
  padding-bottom: calc(var(--index) * 1);
}
.vedalife__title {
  color: var(--pink);
  text-transform: uppercase;
  font-family: 'BebasNeueRegular';
  font-size: 27px;
  letter-spacing: 3px;
  padding-top: calc(var(--index) * 2.3);
  padding-bottom: calc(var(--index) * 1);
}
.vedalife__text {
  font-size: 18px;
  line-height: 1.5;
}
/* new year */
.newYear {
  background-color: var(--litePink);
  display: flex;
  align-items: center;
  margin-top: calc(var(--index) * 2.8);
  justify-content: right;
  position: relative;
}
.newYear__date {
  padding-right: calc(var(--index) * 1.5);
}
.newYear__date h3 {
  color: var(--white);
  font-size: calc(var(--index) * 7.3);
  font-family: 'BebasNeueBook';
  /* align-items:center; */
  margin-left: calc(var(--index) * 1.6);
  margin-top: calc(var(--index) * -1.5);
  padding-top: calc(var(--index) * 1);
  z-index: 3;
}
.newYear__month {
  display: flex;
  position: relative;
  padding-bottom: calc(var(--index) * 1);
  z-index: 3;
}
.newYear__date-dec {
  color: var(--white);
  background-color: var(--darkPink);
  border-radius: calc(var(--index) * 0.8);
  font-size: calc(var(--index) * 1.5);
  font-weight: 500;
  padding: calc(var(--index) * 0.01) calc(var(--index) * 0.9) calc(var(--index) * 0.15)
    calc(var(--index) * 1.4);
  border: none;
  z-index: 9;
}
.newYear__date-jun {
  position: absolute;
  left: calc(var(--index) * 6.5);
  color: var(--pink);
  background-color: var(--white);
  border-radius: calc(var(--index) * 0.8);
  font-size: calc(var(--index) * 1.5);
  font-weight: 500;
  padding: calc(var(--index) * 0.01) calc(var(--index) * 0.9) calc(var(--index) * 0.15)
    calc(var(--index) * 2.2);
  border: none;
}
.newYear__snowflake img {
  width: calc(var(--index) * 8);
  height: calc(var(--index) * 8);
  position: absolute;
  opacity: 0.5;
  top: calc(var(--index) * 1);
  left: calc(var(--index) * 1);
  z-index: 1;
}
.newYear__title h3 {
  font-size: calc(var(--index) * 3);
  font-family: 'BebasNeueBook';
  text-align: center;
  margin: 0;
  color: var(--darkPink);
}
.newYear__year img {
  width: calc(var(--index) * 12);
  padding-left: calc(var(--index) * 5);
  padding-right: calc(var(--index) * 1);
}
/* festival */
.festival {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: calc(var(--index) * 6);
  padding-bottom: calc(var(--index) * 6);
}
.festival__content {
  width: calc(var(--index) * 25);
  align-items: center;
  margin: auto 0;
  margin-right: calc(var(--index) * 3);
}
.festival__title {
  font-size: calc(var(--index) * 1);
  font-family: 'BebasNeueBook';
  padding-bottom: calc(var(--index) * 1);
  color: var(--pink);
}
.festival__text {
  font-size: 18px;
}
.festival__text p {
  padding-bottom: calc(var(--index) * 1);
  line-height: 1.5;
}
.festival__img img {
  border-radius: 50%;
  width: calc(var(--index) * 23);
}
.festival__snowflake1 {
  position: absolute;
  bottom: calc(var(--index) * 1);
  left: calc(var(--index) * -1.5);
  width: calc(var(--index) * 15);
  z-index: -1;
  opacity: 0.5;
}
.festival__snowflake2 {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  width: calc(var(--index) * 20);
  top: calc(var(--index) * 1);
}
.festival__btn {
  position: absolute;
  bottom: calc(var(--index) * 7.7);
  right: calc(var(--index) * -5);
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 2);
  border: none;
  background-color: var(--darkPink);
  border-radius: 28px;
}
/* mandarin */
.mandarin__img {
  width: 100%;
}
/* programmFestival */
.programmFestival {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: calc(var(--index) * 4);
  padding-bottom: calc(var(--index) * 6);
}
.programmFestival__content {
  width: calc(var(--index) * 25);
  align-items: center;
  margin: auto 0;
}
.programmFestival__title {
  font-size: calc(var(--index) * 1);
  font-family: 'BebasNeueBook';
  padding-bottom: calc(var(--index) * 1);
  color: var(--pink);
  text-transform: uppercase;
}
.programmFestival__text {
  font-size: 18px;
}
.programmFestival__text p,
.programmFestival__text ul {
  padding-bottom: calc(var(--index) * 1);
  line-height: 1.5;
}
.programmFestival__img img {
  border-radius: 50%;
  width: calc(var(--index) * 23);
  margin-right: calc(var(--index) * 3);
}
.programmFestival__snowflake1 {
  position: absolute;
  top: calc(var(--index) * 10);
  right: calc(var(--index) * -1);
  width: calc(var(--index) * 19);
  z-index: -1;
  opacity: 0.5;
}
.programmFestival__btn {
  position: absolute;
  bottom: calc(var(--index) * 6);
  left: calc(var(--index) * -1.5);
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 2);
  border: none;
  background-color: var(--darkBlue);
  border-radius: 28px;
}
/* table */
.table {
  margin-top: calc(var(--index) * -4.8);
  padding: calc(var(--index) * 1);
}
.table__img {
  display: flex;
  margin: 0 auto;
  width: 95%;
  box-shadow: calc(var(--index) * 0.5) calc(var(--index) * 0.5) calc(var(--index) * 1) #666;
}
/* description */
.description {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: calc(var(--index) * 5);
  /* padding-bottom: calc(var(--index) * 6); */
}
.description__box {
  display: flex;
}
.description__content {
  width: calc(var(--index) * 28);
  align-items: center;
  margin: auto 0;
}
.description__title {
  font-size: calc(var(--index) * 1);
  font-family: 'BebasNeueBook';
  padding-bottom: calc(var(--index) * 1);
  color: var(--pink);
  text-transform: uppercase;
}
.description__text {
  font-size: 18px;
}
.description__text p {
  line-height: 1.5;
}
.description__img img {
  border-radius: 50%;
  width: calc(var(--index) * 10.5);
  margin-right: calc(var(--index) * 3);
}
.description__snowflake1 {
  position: absolute;
  top: calc(var(--index) * 0.1);
  right: calc(var(--index) * 2.5);
  width: calc(var(--index) * 19);
  z-index: -1;
  opacity: 0.5;
}
.description__btn {
  position: absolute;
  top: calc(var(--index) * 3.6);
  right: calc(var(--index) * -3);
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 2);
  border: none;
  background-color: var(--darkPink);
  border-radius: 28px;
}
.description__text p {
  padding-bottom: calc(var(--index) * 1);
}
/* box2 */
.box2 {
  display: flex;
  flex-direction: row-reverse;
}
.description__img-revers {
  margin-left: calc(var(--index) * 3);
  /* margin-right: 0; */
}
.description__snowflake2 {
  position: absolute;
  top: calc(var(--index) * 14.5);
  right: calc(var(--index) * 5.5);
  width: calc(var(--index) * 8);
  z-index: -1;
  opacity: 0.5;
}
.description__snowflake3 {
  position: absolute;
  bottom: calc(var(--index) * -10);
  left: calc(var(--index) * 5);
  width: calc(var(--index) * 18);
  z-index: -1;
  opacity: 0.5;
}
.description__snowflake4 {
  position: absolute;
  bottom: calc(var(--index) * -13);
  right: calc(var(--index) * -7);
  width: calc(var(--index) * 18);
  z-index: -1;
  opacity: 0.5;
}
.description__snowflake5 {
  position: absolute;
  bottom: calc(var(--index) * 1);
  left: calc(var(--index) * -0.5);
  width: calc(var(--index) * 18);
  z-index: -1;
  opacity: 0.5;
}
.description__btnEnd {
  position: absolute;
  bottom: calc(var(--index) * -3.7);
  left: calc(var(--index) * -3);
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 2);
  border: none;
  background-color: var(--darkBlue);
  border-radius: 28px;
}
.description__btnEnd2 {
  position: absolute;
  bottom: calc(var(--index) * 11);
  left: calc(var(--index) * -4.7);
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 2);
  border: none;
  background-color: var(--darkBlue);
  border-radius: 28px;
}
.description__btn2 {
  position: absolute;
  top: calc(var(--index) * 21);
  right: calc(var(--index) * -4.5);
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 2);
  border: none;
  background-color: var(--darkPink);
  border-radius: 28px;
}
/* img кулинарный мастер-класс */
.cooking {
  margin-top: calc(var(--index) * 2.5);
}
.cooking__img {
  width: 100%;
}
.table {
  margin-top: calc(var(--index) * -4.8);
  padding: calc(var(--index) * 1);
}
.table__img {
  display: flex;
  margin: 0 auto;
  width: 95%;
  box-shadow: calc(var(--index) * 0.5) calc(var(--index) * 0.5) calc(var(--index) * 1) #666;
}
/* speakers */
.speakers {
  background-color: var(--darkBlue);
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: calc(var(--index) * 2);
}
.speakers__date {
  padding-right: calc(var(--index) * 3);
}
.speakers__date h3 {
  color: var(--white);
  font-size: calc(var(--index) * 6.7);
  font-family: 'BebasNeueBook';
  margin-left: calc(var(--index) * 1.6);
  margin-top: calc(var(--index) * -1);
  margin-bottom: 0;
  height: calc(var(--index) * 7);
}
.speakers__month {
  display: flex;
  position: relative;
}
.speakers__date-dec {
  color: var(--white);
  background-color: var(--litePink);
  border-radius: calc(var(--index) * 0.8);
  font-size: calc(var(--index) * 1.5);
  font-weight: 500;
  padding: calc(var(--index) * 0.01) calc(var(--index) * 0.9) calc(var(--index) * 0.15)
    calc(var(--index) * 1.4);
  border: none;
  z-index: 3;
  display: flex;
}
.speakers__date-jun {
  position: absolute;
  right: calc(var(--index) * -2.2);
  color: var(--litePink);
  background-color: var(--white);
  border-radius: calc(var(--index) * 0.8);
  font-size: calc(var(--index) * 1.5);
  font-weight: 500;
  padding: calc(var(--index) * 0.01) calc(var(--index) * 0.9) calc(var(--index) * 0.15)
    calc(var(--index) * 2.2);
  border: none;
  z-index: 1;
  display: flex;
}
.speakers__title h3 {
  font-size: calc(var(--index) * 3.5);
  font-family: 'BebasNeueBook';
  text-align: center;
  margin: 0;
  color: var(--white);
}
.speakers__year img {
  width: calc(var(--index) * 10);
  padding-left: calc(var(--index) * 1);
  padding-top: calc(var(--index) * 1.5);
}
/* speaker */
.speaker {
  position: relative;
  padding-top: calc(var(--index) * 8.5);
  display: flex;
  justify-content: right;
  /* column-gap: calc(var(--index) * 1.3); */
  padding-right: calc(var(--index) * 6);
}
.speaker__box {
  /* background-color:red; */
  width: calc(var(--index) * 20.5);
}
.speaker__img img {
  border-radius: 50%;
  width: calc(var(--index) * 13);
  margin: auto;
  display: flex;
}
.speaker__title {
  color: var(--darkBlue);
  font-size: calc(var(--index) * 1);
  font-family: 'BebasNeueRegular';
  text-align: center;
  padding-top: calc(var(--index) * 1.2);
  padding-bottom: calc(var(--index) * 0.7);
}
.speaker__text p {
  text-align: center;
  font-size: calc(var(--index) * 0.8);
}
.speaker__snowflake {
  position: absolute;
  top: calc(var(--index) * 1);
  left: calc(var(--index) * 6);
  width: calc(var(--index) * 19);
  z-index: -1;
  opacity: 0.5;
}
.speaker__snowflake1 {
  position: absolute;
  top: calc(var(--index) * 23);
  left: calc(var(--index) * 5);
  width: calc(var(--index) * 7);
  z-index: -1;
  opacity: 0.5;
}
.speaker__snowflake2 {
  position: absolute;
  top: calc(var(--index) * 34);
  right: calc(var(--index) * -4);
  width: calc(var(--index) * 19);
  z-index: -1;
  opacity: 0.5;
}
.speaker__btn1 {
  position: absolute;
  top: calc(var(--index) * 38.7);
  right: calc(var(--index) * -2.5);
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 2);
  border: none;
  background-color: var(--darkBlue);
  border-radius: 28px;
}
.speaker__btn2 {
  position: absolute;
  top: calc(var(--index) * 7);
  left: calc(var(--index) * -3);
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 2);
  border: none;
  background-color: var(--pink);
  border-radius: 28px;
}
.speaker2 {
  position: relative;
  padding-top: calc(var(--index) * 3.5);
  display: flex;
  justify-content: left;
  /* column-gap: calc(var(--index) * 1.3); */
  padding-left: calc(var(--index) * 6);
}
/* регистрация */
.registraition {
  position: relative;
  background-color: var(--darkBlue);
  margin-top: calc(var(--index) * 3.5);
  padding-right: calc(var(--index) * 2.5);
  display: flex;
  justify-content: right;
}
.registraition__content {
  margin: auto 0;
  width: calc(var(--index) * 25);
  /* background-color:red; */
  padding-bottom: calc(var(--index) * 4);
  color: var(--white);
  z-index: 3;
  position: relative;
}
.registraition__title {
  font-size: calc(var(--index) * 1.5);
  font-family: 'BebasNeueBook';
  padding-bottom: calc(var(--index) * 1);
  padding-top: calc(var(--index) * 2);
  color: var(--darkPink);
  letter-spacing: 1.5px;
  text-shadow: 0px 0px 5px var(--white);
}
.registraition__text {
  font-size: 18px;
}
.registraition__text p {
  margin-bottom: calc(var(--index) * 1);
  line-height: 1.5;
}
.registraition__text p:last-child {
  margin-bottom: calc(var(--index) * 2);
}
.registraition__content a {
  text-decoration: none;
  color: var(--white);
  background-color: var(--pink);
  padding: calc(var(--index) * 0.5) calc(var(--index) * 1);
  border-radius: calc(var(--index) * 1);
  box-shadow: 1px 1px 25px var(--white);
  font-family: 'BebasNeueRegular';
  font-size: calc(var(--index) * 1.2);
}
.registraition__content a:hover {
  color: var(--pink);
  background-color: var(--white);
  font-family: 'BebasNeueRegular';
}
.registraition__text p a:hover {
  cursor: pointer;
  color: var(--darkPink);
}
.registraition__img img {
  border-radius: 50%;
  width: calc(var(--index) * 23);
  margin-top: calc(var(--index) * 1);
  margin-bottom: calc(var(--index) * 1);
  margin-left: calc(var(--index) * 3);
}
.registraition__snowflake {
  position: absolute;
  top: calc(var(--index) * -2);
  left: calc(var(--index) * 1);
  width: calc(var(--index) * 13);
  opacity: 0.5;
}
/* price */
.price {
  position: relative;
}
.price h2 {
  text-align: center;
  font-size: calc(var(--index) * 2);
  font-family: 'BebasNeueLite';
  padding-bottom: calc(var(--index) * 1);
  padding-top: calc(var(--index) * 3);
  color: var(--darkBlue);
}
.price h2 strong {
  font-family: 'BebasNeueRegular';
  font-size: calc(var(--index) * 2.5);
}
.price h3 {
  text-align: center;
  color: var(--darkBlue);
  padding-bottom: calc(var(--index) * 2);
}
.price p {
  color: var(--pink);
  text-align: center;
  padding-bottom: calc(var(--index) * 2);
  font-size: calc(var(--index) * 1);
}
.price__table {
  margin: 0 auto;
  display: flex;
  /* background-color: red; */
  justify-content: center;
  font-family: 'BebasNeueBook';
  font-size: calc(var(--index) * 1.3);
  padding-bottom: calc(var(--index) * 4);
}
.price__table td {
  border-bottom: 2px solid var(--darkBlue);
}
.price__table span {
  font-size: calc(var(--index) * 0.9);
  font-family: 'BebasNeueRegular';
}
.price__num {
  color: var(--darkBlue);
  font-family: 'BebasNeueBook';
  font-weight: 900;
  text-align: center;
}
.table-btn {
  color: var(--white);
  background-color: var(--darkBlue);
  border-radius: 20px;
  padding: calc(var(--index) * 0.1) calc(var(--index) * 0.5);
  font-size: calc(var(--index) * 1);
  font-family: 'BebasNeueRegular';
  margin-bottom: calc(var(--index) * 3);
}
.price__btn1 {
  position: absolute;
  top: calc(var(--index) * 4.2);
  left: calc(var(--index) * -1.3);
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 2);
  border: none;
  background-color: var(--darkBlue);
  border-radius: 28px;
}
.price__btn2 {
  position: absolute;
  top: calc(var(--index) * 19.5);
  right: calc(var(--index) * -3.5);
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 2);
  border: none;
  background-color: var(--pink);
  border-radius: 28px;
}
.price__snowflake {
  position: absolute;
  top: calc(var(--index) * 5);
  left: calc(var(--index) * 1);
  width: calc(var(--index) * 23);
  opacity: 0.5;
  z-index: -1;
}
/* footer */
.footer {
  background-color: var(--darkBlue);
}
.footer__container {
  width: calc(var(--index) * 46);
  /* background-color: red; */
  display: flex;
  margin: 0 auto;
  padding-top: calc(var(--index) * 2);
  padding-bottom: calc(var(--index) * 3);
}
.footer__logo1 img {
  width: calc(var(--index) * 6);
  height: calc(var(--index) * 3.5);
}
.footer__content {
  padding-left: calc(var(--index) * 2);
}
.footer__info h3 {
  font-family: 'BebasNeueLite';
  font-size: calc(var(--index) * 0.8);
  color: var(--white);
  padding-bottom: calc(var(--index) * 1);
  letter-spacing: 1px;
}
.footer__info h3,
.footer__content a {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
}
.footer__tel {
  display: block;
  font-family: 'BebasNeueRegular';
  font-size: calc(var(--index) * 1);
  /* padding-left: calc(var(--index) * 2); */
  letter-spacing: 1px;
  text-align: right;
}
.footer__tel div {
  padding-bottom: calc(var(--index) * 0.7);
}
.footer__info {
  display: flex;
}
.footer__logo2 img {
  width: calc(var(--index) * 15);
  margin: auto;
  display: flex;
  padding-bottom: calc(var(--index) * 1);
}
.footer__logoPuri img {
  width: calc(var(--index) * 25);
  margin: auto;
  display: flex;
}
.footer__social div {
  padding-bottom: calc(var(--index) * 0.5);
}
.footer__social img {
  width: calc(var(--index) * 1.2);
  padding-left: calc(var(--index) * 0.5);
}
.footer__whatsapp:hover,
.footer__telegram:hover,
.footer__instagram:hover,
.footer__vk:hover {
  scale: 1.2;
  transition: scale 0.2s ease-in;
  cursor: pointer;
}
.footer__container2 {
  display: flex;
  margin: auto;
}
.up,
.down {
  width: 20px;
  background-color: var(--pink);
  border-radius: 50%;
  padding: 10px;
  opacity: 0.5;
  position: fixed;
}
.up {
  bottom: 50px;
  left: 10px;
}
.down {
  bottom: 0px;
  left: 10px;
  rotate: 180deg;
}
/* media */
@media (max-width: 900px) {
  .header__logo3 {
    display: none;
  }
  .registraition__title {
    margin-top: calc(var(--index) * 3);
    font-size: calc(var(--index) * 1.8);
  }
  .registraition__text p:last-child {
    margin-bottom: calc(var(--index) * 3);
  }
  .registraition__img img {
    margin-top: calc(var(--index) * 4);
    margin-left: inherit;
  }
  .registraition__content a {
    font-size: calc(var(--index) * 1.8);
  }
  .footer__container {
    width: calc(var(--index) * 50);
    flex-direction: column;
  }
  .header__nav ul {
    font-size: calc(var(--index) * 1.3);
  }

  .programmFestival__title,
  .vedalife__title,
  .description__title,
  .festival__title {
    font-size: calc(var(--index) * 1.8);
  }
  .festival__btn {
    bottom: calc(var(--index) * 5);
    right: calc(var(--index) * -5);
  }
  .description__btnEnd2 {
    bottom: calc(var(--index) * 27);
  }
  .footer__logo1 {
    margin: auto;
  }
  .footer__container2 {
    flex-direction: column-reverse;
  }
}
@media (max-width: 800px) {
  .registraition {
    display: block;
  }
  .registraition__content {
    margin: auto;
    width: calc(var(--index) * 40);
    text-align: center;
    margin-top: calc(var(--index) * 2);
  }
  .registraition__img {
    display: flex;
    justify-content: center;
  }
  .registraition__img img {
    margin-top: calc(var(--index) * 0);
  }
  .registraition__title {
    padding-top: calc(var(--index) * 2);
  }
  .festival {
    flex-direction: column-reverse;
  }
  .festival__content {
    width: calc(var(--index) * 50);
    margin-right: calc(var(--index) * 4);
    margin-left: calc(var(--index) * 4);
  }
  .festival__img {
    margin: auto;
  }
  .vedalife {
    flex-direction: column-reverse;
    margin-left: calc(var(--index) * 4);
    padding-top: calc(var(--index) * 0);
  }
  .vedalife__img {
    margin: auto;
    padding-top: calc(var(--index) * 2);
  }
  .vedalife__img img,
  .festival__img img {
    width: calc(var(--index) * 28);
  }
  .home__img-snowflake,
  .description__snowflake4,
  .speaker__snowflake2 {
    display: none;
  }
}
@media (max-width: 750px) {
  .newYear {
    position: relative;
  }
  .newYear__snowflake img {
    position: absolute;
    top: calc(var(--index) * 2);
    left: calc(var(--index) * -1);
    opacity: 0.5;
    z-index: 1;
  }
  .newYear__date {
    z-index: 3;
  }
  .newYear__title h3 {
    margin-left: calc(var(--index) * 3);
  }
  .newYear__date h3 {
    padding-top: calc(var(--index) * 2);
  }
  .newYear {
    flex-direction: column;
  }
  .newYear__title,
  .newYear__date,
  .newYear__month {
    z-index: 3;
  }
  .newYear__snowflake img {
    top: calc(var(--index) * 0);
    width: calc(var(--index) * 20);
    height: calc(var(--index) * 20);
    z-index: 1;
  }
  .festival__content {
    width: calc(var(--index) * 45);
    margin-right: calc(var(--index) * 5);
    margin-left: calc(var(--index) * 5);
  }
}
@media (max-width: 700px) {
  .header__logo1 img {
    width: calc(var(--index) * 3);
    height: calc(var(--index) * 2);
    padding-left: calc(var(--index) * 0.5);
  }
  .header__logo2 img {
    width: calc(var(--index) * 7);
    height: calc(var(--index) * 2.3);
    padding-left: calc(var(--index) * 0.7);
  }
  .home__button-festival {
    padding: calc(var(--index) * 0.5) calc(var(--index) * 3);
  }
  .programmFestival {
    flex-direction: column-reverse;
  }
  .programmFestival__content {
    width: inherit;
    margin-left: calc(var(--index) * 6);
    margin-right: calc(var(--index) * 4);
  }
  .programmFestival__title,
  .vedalife__title,
  .description__title,
  .festival__title {
    font-size: calc(var(--index) * 1.8);
  }
  .programmFestival__img {
    margin: auto;
  }
  .programmFestival__img img {
    width: calc(var(--index) * 28);
  }
  .description__box {
    flex-direction: column;
  }
  .description__content {
    width: inherit;
    text-align: center;
    margin-left: calc(var(--index) * 5);
    margin-right: calc(var(--index) * 5);
  }
  .description__img {
    margin: auto;
  }
  .description__img img {
    width: calc(var(--index) * 28);
    padding-bottom: calc(var(--index) * 3);
    margin-right: 0;
  }
  .festival__content {
    width: inherit;
    margin-right: calc(var(--index) * 2);
    margin-left: calc(var(--index) * 2);
  }
  .speaker,
  .speaker2 {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: calc(var(--index) * 0);
  }
  .speaker__box {
    margin: 0 auto;
    width: inherit;
  }
  .speaker__text {
    padding-bottom: calc(var(--index) * 3.5);
  }
  .speaker__text p {
    font-size: calc(var(--index) * 1.5);
  }
  .speakers {
    margin-bottom: calc(var(--index) * 3.5);
    flex-direction: column-reverse;
    justify-content: center;
  }
  .speakers__date {
    margin: auto;
    padding-top: calc(var(--index) * 2);
  }
  .speakers__year img {
    padding-left: inherit;
    padding-top: inherit;
    padding-bottom: calc(var(--index) * 2);
  }
  .speakers__year {
    margin: auto;
  }
  .speaker__img img {
    width: calc(var(--index) * 30);
  }
  .speaker__title h2 {
    font-size: calc(var(--index) * 2.5);
  }
  .registraition__content {
    width: inherit;
    margin-right: calc(var(--index) * 2);
    margin-left: calc(var(--index) * 2);
  }
}
@media (max-width: 600px) {
  .header__logo2 {
    display: none;
  }
  .header__nav ul {
    font-size: calc(var(--index) * 1.5);
  }
  .home__button-festival {
    padding: calc(var(--index) * 0.5) calc(var(--index) * 2);
  }
  .home__date h3 {
    font-size: calc(var(--index) * 5);
    margin-left: calc(var(--index) * 1.6);
    margin-top: calc(var(--index) * -1.5);
    padding-top: calc(var(--index) * 2);
  }
  .home__date-jun {
    left: calc(var(--index) * 4.5);
    font-size: calc(var(--index) * 1);
  }
  .newYear__date-dec {
    font-size: calc(var(--index) * 1);
  }
  .newYear__month-img {
    width: calc(var(--index) * 7.5);
    padding-left: calc(var(--index) * 2);
    padding-top: calc(var(--index) * 2);
  }

  .festival__btn,
  .programmFestival__btn,
  .description__btn,
  .description__btn2,
  .description__btnEnd,
  .festival__snowflake2,
  .description__btnEnd2,
  .speaker__btn1,
  .speaker__btn2,
  .price__btn1,
  .price__btn2 {
    display: none;
  }
  .festival__snowflake1,
  .programmFestival__snowflake1,
  .description__snowflake1,
  .description__snowflake2,
  .description__snowflake3,
  .description__snowflake4,
  .description__snowflake5 {
    opacity: 0.1;
    width: calc(var(--index) * 30);
    height: calc(var(--index) * 30);
  }
  .programmFestival__snowflake1 {
    opacity: 0.1;
    width: inherit;
    height: calc(var(--index) * 30);
  }
  .registraition__title h2 {
    font-size: calc(var(--index) * 2);
  }
  .registraition__text {
    z-index: 3;
  }
  .registraition__snowflake {
    z-index: 1;
  }
  .registraition__content a {
    font-size: calc(var(--index) * 2);
  }
  .registraition__img {
    margin-top: calc(var(--index) * 3);
  }
}
@media (max-width: 500px) {
  .header__tel {
    margin-top: calc(var(--index) * -1);
  }
  .home__img {
    /* max-width: calc(var(--index) * 20); */
    width: 200px;
  }
  .home__sochi {
    font-size: calc(var(--index) * 2);
    padding-top: calc(var(--index) * 1);
    opacity: 0.3;
  }
  .home__button-box {
    padding-top: calc(var(--index) * 3);
  }
  .home__date h3 {
    font-size: calc(var(--index) * 4);
    margin-top: calc(var(--index) * 0.1);
  }
  .home__date-jun {
    left: calc(var(--index) * 3.8);
    font-size: calc(var(--index) * 0.8);
  }
  
  .newYear__date-dec {
    font-size: calc(var(--index) * 0.8);
  }
  .newYear__month-img {
    display: none;
  }
  .vedalife {
    margin-left: inherit;
  }
  .footer__logo2 img {
    width: calc(var(--index) * 10);
    padding-top: calc(var(--index) * 2);
  }
  .footer__logoPuri img {
    width: calc(var(--index) * 10);
  }
}
/* my mobile */
@media (max-width: 450px) {
  .header__social {
    display: none;
  }
  .header__tel {
    display: none;
  }
  .header__logo1 {
    display: none;
  }
  .home__img {
    padding-top: calc(var(--index) * 3);
    padding-bottom: calc(var(--index) * 5);
  border-radius: 0 calc(var(--index) * 9.5) calc(var(--index) * 10.5) 0;
  }
  .footer__logoPuri img {
    width: calc(var(--index) * 20);
  }
  .newYear__month-img {
    padding-top: calc(var(--index) * -1);
    padding-bottom: calc(var(--index) * 7);
  }
  .home__button-festival {
    margin-top: calc(var(--index) * 3);
  }
}
/* lisa mobile */
@media (max-width: 400px) {
  .home__sochi {
    font-size: calc(var(--index) * 1.7);
    padding-top: calc(var(--index) * 2);
  }
  .home__date h3 {
    font-size: calc(var(--index) * 3);
  }
  .home__date-jun {
    left: calc(var(--index) * 3);
    font-size: calc(var(--index) * 0.6);
  }
  .home__img {
  border-radius: 0 calc(var(--index) * 8) calc(var(--index) * 10) 0;

  }
  .newYear__date-dec {
    font-size: calc(var(--index) * 0.6);
  }
  .newYear__month-img {
    padding-top: calc(var(--index) * 1);
    padding-bottom: calc(var(--index) * 8);

  }
  .header__social-box {
    display: none;
  }
}
@media (max-width: 350px) {
  .home .home__date {
    padding-left: calc(var(--index) * 1);
  }
  .newYear__month-img {
    width: calc(var(--index) * 5);
    padding-left: calc(var(--index) * -1);
  }
  .home__sochi {
    font-size: calc(var(--index) * 1.5);
    padding-bottom: calc(var(--index) * 3);
    padding-top: calc(var(--index) * 1);
  }
  .footer__container {
    width: inherit;
  }
  .home__img {
    width: calc(var(--index) * 17);
    padding-top: calc(var(--index) * 1);
    border-radius: 0 calc(var(--index) * 7) calc(var(--index) * 10) 0;
  }
  .home__button-present {
    bottom: calc(var(--index) * 0.5);
    font-size:  calc(var(--index) * 1.5);
  }
  .newYear__month-img {
    padding-top: calc(var(--index) * -2);
    padding-bottom: calc(var(--index) * 7.3);
    padding-left: calc(var(--index) * 1.5);
  }
  .home__sochi {
    padding-bottom: calc(var(--index) * 0);
  }
}
